<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>DevArtGen v0.1 by silvansky</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>DevArtGen</string>
	<key>CFBundleIdentifier</key>
	<string>com.silvansky.DevArtGen</string>
	<key>NOTE</key>
	<string>Don&apos;t worry, be happy! =)</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
</dict>
</plist>
